
#wrapper {
  width: 100%;
  height: 100px;
}

h5{
  font-size: 18px;
    margin-top: 1px;
}

/* cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyzCg_WMM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyxig_WMM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyyCg_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.logotitle {
  font-family: 'Satisfy', cursive;
  color: blue;
}

.belowlogo{
  font-family: 'Marck Script', cursive;
}

.button1 {
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    position: relative;
    margin: -20px -50px;
    width: 100px;
    top: -3%;
    left: 92%;}

.button2 {
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    position: relative;
    margin: -20px -50px;
    width: 100px;
    top: -3%;
    left: 84%;
}

* {
  box-sizing: border-box;
}

.postslist{

}

.nameSection{
  background-color: #22d5da;
  position: absolute;
  left: 0;
  height: 130px;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 90px;
}

.nameSection2{
    text-align: -webkit-center;
    margin-top: 50%;
    font-size: 25px;
}

.demobutton{
  position: absolute;
  top: 10px;
  right: 10px;
}

.postsHeading{

}

.box {
  float: left;
  width: 44%;
  height: 130px;
  padding: 10px 10px 10px 106px;
  margin: 5px;
  border-radius: 20px;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}