html{
  background-color: #fea500;
}

#wrapper {
  width: 100%;
  height: 100px;
  background-color: #fea500;
}

h5{
  font-size: 18px;
    margin-top: 1px;
}

/* cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyzCg_WMM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyxig_WMM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyyCg_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.logotitle {
  font-family: 'Satisfy', cursive;
  color: blue;
}

.belowlogo{
  font-family: 'Marck Script', cursive;
}

.button1 {
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    position: relative;
    margin: -20px -50px;
    width: 100px;
    top: -3%;
    left: 92%;}

.button2 {
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    position: relative;
    margin: -20px -50px;
    width: 100px;
    top: -3%;
    left: 84%;
}

* {
  box-sizing: border-box;
}

.postslist{
  margin-top: 50px;
  margin-left:  100px;
}


.nameSection{
  background-color: white;
  position: absolute;
  left: 0;
  height: 130px;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 90px;
}

.nameSection2{
    text-align: -webkit-center;
    margin-top: 50%;
    font-size: 25px;
}

.demobutton{
  background-color: lightgrey;
  position: absolute;
  top: 5px;
  right: 5px;
}

.postsHeading{

}

.box {
  float: left;
  width: 44%;
  height: 130px;
  padding: 10px 10px 10px 106px;
  margin: 5px;
  border-radius: 20px;
  position: relative;
  background-color: lightgrey;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/*Modal for Delete button*/
 * {box-sizing: border-box;}

 /* Set a style for all buttons */
 button {
   background-color: #28d8b4;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 20;
   opacity: 0.9;
 }

 button:hover {
   opacity:1;
 }

 /* Float cancel and delete buttons and add an equal width */
 .cancelbtn, .deletebtn {
   float: left;
   width: 50%;
   width: 500px;
   margin: 10px;
   font-size: 25px;
   font-weight: 500;
 }

 /* Add a color to the cancel button */
 .cancelbtn {
   background-color: lawngreen;
   color: black;7

 }

 /* Add a color to the delete button */
 .deletebtn {
   background-color: orangered;
 }

 /* Add padding and center-align text to the container */
 .container {
   padding: 16px;
   text-align: center;
 }

 /* The Modal (background) */
 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(10,0,0,0.5);
   padding-top: 50px;
 }

 /* Modal Content/Box */
 .modal-content {
   background-color: #fefefe;
   margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
 }

 /* Style the horizontal ruler */
 hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }
  
 /* The Modal Close Button (x) */
 .close {
   position: absolute;
   right: 35px;
   top: 15px;
   font-size: 40px;
   font-weight: bold;
   color: #f1f1f1;
 }

 .close:hover,
 .close:focus {
   color: #f44336;
   cursor: pointer;
 }

 /* Clear floats */
 .clearfix::after {
   content: "";
   clear: both;
   display: table;
 }

 /* Change styles for cancel button and delete button on extra small screens */
 @media screen and (max-width: 300px) {
   .cancelbtn, .deletebtn {
      width: 100%;
   }
 }