
/* cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyzCg_WMM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyxig_WMM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/marckscript/v11/nwpTtK2oNgBA3Or78gapdwuyyCg_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
  font-family: 'Satisfy', cursive;
}
#wrapper {
  width: 100%;
  height: 100px;
}

h5{
	font-size: 18px;
    margin-top: 1px;
}

.containerButton {
  height: 200px;
  position: relative;
}

.centerButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.logotitle {
	font-family: 'Satisfy', cursive;
	color: blue;
}

.belowlogo{
	font-family: 'Marck Script', cursive;
}

.button1 {
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    position: relative;
    margin: -20px -50px;
    width: 100px;
    top: -3%;
    left: 92%;}

.button2 {
    height: 35px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    position: relative;
    margin: -20px -50px;
    width: 100px;
    top: -3%;
    left: 84%;
}

.postArea{
  position: relative;
  width: 100%;
  font: 100%/1.75 'Merriweather','Georgia',serif;
  padding: 30px;
}

.postCreator{
  margin: 15px 30px;
}

.postPara{
  padding: 30px;
  font-size: 17px;
}

.editButton{
  position: absolute;
  right: 100px;
  top: 100px;
}

.likeSection, .commentSection{
  margin: 1px 30px;
}




.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentsList {
    width: 100%;
    margin-top: 10px;
    padding: 5%;
    color: black;
}

.board-container {
    width: 80%;
    padding: 2%;
    left: 25px;
    position: absolute;
}

#add-board-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: 0
}

input {
    padding: 1px;
    border: 1px solid grey;

}

::marker { 
  color: white;
}

.project-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    background-color: grey;
    padding: 2%;
    border-radius: 5px;
    margin:10px 0;
    color: white;
    width: 30%;
}

@media (max-width: 400px) {
    .project-card { 
        width: 45%;
    }
}

.add-board-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board-block {
    margin-top: 3%;
    display: none;
}

.commentButton{
    margin-top: 20px;
}



/*Sign in Login In form*/
  .modal-login {
    color: #636363;
    width: 350px;
    margin: 30px auto;
  }
  .modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
  }
  .modal-login h4 {
    text-align: center;
    font-size: 26px;
  }
  .modal-login  .form-group {
    position: relative;
  }
  .modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
  }
  .modal-login .form-control {
    padding-left: 40px;
  }
  .modal-login .form-control:focus {
    border-color: #00ce81;
  }
  .modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-login .hint-text {
    text-align: center;
    padding-top: 10px;
  }
  .modal-login .close {
        position: absolute;
    top: -5px;
    right: -5px;
  }
  .modal-login .btn {
    background: #00ce81;
    border: none;
    line-height: normal;
  }
  .modal-login .btn:hover, .modal-login .btn:focus {
    background: #00bf78;
  }
  .modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
    justify-content: center;
  }
  .modal-login .modal-footer a {
    color: #999;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }

    .modal-signup {
    color: #636363;
    width: 350px;
    margin: 30px auto;
  }
  .modal-signup .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-signup .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
  }
  .modal-signup h4 {
    text-align: center;
    font-size: 26px;
  }
  .modal-signup  .form-group {
    position: relative;
  }
  .modal-signup i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
  }
  .modal-signup .form-control {
    padding-left: 40px;
  }
  .modal-signup .form-control:focus {
    border-color: #00ce81;
  }
  .modal-signup .form-control, .modal-signup .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-signup .hint-text {
    text-align: center;
    padding-top: 10px;
  }
  .modal-signup .close {
        position: absolute;
    top: -5px;
    right: -5px;
  }
  .modal-signup .btn {
    background: #00ce81;
    border: none;
    line-height: normal;
  }
  .modal-signup .btn:hover, .modal-signup .btn:focus {
    background: #00bf78;
  }
  .modal-signup .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
    justify-content: center;
  }
  .modal-signup .modal-footer a {
    color: #999;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }



  .modal-createpost {
    color: #636363;
    width: 350px;
    margin: 30px auto;
  }
  .modal-createpost .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-createpost .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
  }
  .modal-createpost h4 {
    text-align: center;
    font-size: 26px;
  }
  .modal-createpost  .form-group {
    position: relative;
  }
  .modal-createpost i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
  }
  .modal-createpost .form-control {
    padding-left: 40px;
  }
  .modal-createpost .form-control:focus {
    border-color: #00ce81;
  }
  .modal-createpost .form-control, .modal-createpost .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-createpost .hint-text {
    text-align: center;
    padding-top: 10px;
  }
  .modal-createpost .close {
        position: absolute;
    top: -5px;
    right: -5px;
  }
  .modal-createpost .btn {
    background: #00ce81;
    border: none;
    line-height: normal;
  }
  .modal-createpost .btn:hover, .modal-createpost .btn:focus {
    background: #00bf78;
  }
  .modal-createpost .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
    justify-content: center;
  }
  .modal-createpost .modal-footer a {
    color: #999;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }